<%- include('partials/header') -%>

<form action="/ratings/searchMovie/" method="GET" id="form">
    <div class="form-group">
      <label for="movie">Search for a Movie:</label>
      <input type="text" class="form-control" id="movie" placeholder="Enter Movie Title" name="movieTitle">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<form action="">
  <div class="movieSelection">
    <% for(let i=0; i<movie.length;i++) {%>
      <div class="card text-dark " style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/<%=movie[i].poster%>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><%=movie[i].title%></p>
          <p class="card-text">Release Date: <%=movie[i].release_date%></p>
          <input type="radio" id="<%=movie[i].title%>" name="movieTitle" value="<%=movie[i].id%>">
        </div>
      </div>
    <% } %>
  </div>
 
    <label for="exampleFormControlSelect1">Rating</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Review: </label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
<%- include('partials/footer') -%>

