<%- include('partials/header') -%>

<h2>Search Results for : <%=request%> </h2>
<form action="/ratings/addMovie" method="POST">
  <div class="movieSelection">
    <% for(let i=0; i<movie.length;i++) {%>
      <div class="card text-dark " style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/<%=movie[i].poster%>" class="card-img-top" alt="...">
        
        <div class="card-body">
          <p class="card-text"><%=movie[i].title%></p>
          
          <p class="card-text">Release Date: <%=movie[i].release_date%></p>
          
          <input type="radio" id="<%=movie[i].title%>" name="userpick" value="<%=movie[i].id%>,<%=movie[i].poster%>,<%=movie[i].title%>,<%=movie[i].release_date%>">
        </div>
        
      </div>
    <% } %>
  </div>
  <div class="reviewbox">
    <label for="rating">Rating</label>
    <select class="form-control" id="rating" name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div class="form-group">
      <label for="review">Review: </label>
      <textarea class="form-control" id="review" rows="3" name="review"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Rating</button>
  </div>
</form>
<%- include('partials/footer') -%>

