<%- include('partials/header') -%>
<h1 class="welcome">Welcome, <%= user.fName %>  </h1>
<h3>My Ratings </h3>

<div class="containers"> 
    <% for (let i = 0 ; i<movies.length; i++) {%>
        
        <div class="card mb-3 text-dark bg-light" style="max-width: 500px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/original<%=movies[i].poster%>" class="img-fluid rounded-start" alt="poster">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title"><%= movies[i].title %></h5>
                <p class="card-text"><small class="text-muted">Release Date: <%= movies[i].release_date %></small></p>
                <p class="card-text">Rating:<%= movies[i].rating %></p>
                <p class="card-text"><%= movies[i].review %> </p>
                <div class="cardicon">
                    <p class="card-text"><i class="fa-regular fa-star"></i></p>
                    <p class="card-text"><i class="fa-solid fa-trash text-muted"></i></p>
                </div>
                <p class="card-text"><small class="text-muted">Published: <%= movies[i].createdAt.toDateString() %></small></p>
                </div>
            </div>
            </div>
        </div>
    <% } %>
</div>
<%- include('partials/footer') -%>